<nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" routerLink="/home">
    </a>
  
  
    <!-- <button *ngIf="!burgermenuopen" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" (click)="burgermenuclicked()"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars" style="color:white;width:30px;font-size: 30px;"></i>
    </button>
    <button *ngIf="burgermenuopen" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" (click)="closeburgermenu()"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="pi pi-times" style="color:white;font-size:30px"></i>
    </button> -->
    <div class="logodiv">
        <a class="logo" routerLink="/home">
          <img  style="height: 70px;" src="../../../assets/images/logo.png" class="logo">
        </a>
      </div>
    <div  class="collapse navbar-collapse " id="navbarSupportedContent">
        
      <ul class="navbar-nav" style="margin-right: 20%">
        
        <li class="nav-item nav-item2 active">
            <a class="nav-link nav-link2" routerLink="/home" routerLinkActive="router-link-active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Home</a>
          </li>
         
          <li class="nav-item nav-item2">
            <a class="nav-link nav-link2" routerLink="/books" routerLinkActive="router-link-active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Books</a>
          </li>
          <li class="nav-item nav-item2" *ngIf="!isLogedIn">
            <a class="nav-link nav-link2"  routerLinkActive="router-link-active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/login">Login</a>
          </li>
          
          <li class="nav-item nav-item2" *ngIf="isLogedIn">
            <a class="nav-link nav-link2"  routerLinkActive="router-link-active" (click)="logout()"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/login">Logout</a>
          </li>
         
      </ul>
  
  
    </div>
  
    <!-- <div *ngIf="responsive" class="collapse navbar-collapse " id="navbarSupportedContent3">
      <ul class="navbar-nav navbar-nav2">
        <li class="nav-item nav-item2">
          <a class="nav-link nav-link2" routerLink="/home" routerLinkActive="router-link-active" data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show">Home</a>
        </li>
        <li class="nav-item nav-item2 active">
          <a class="nav-link nav-link2" routerLink="/services" routerLinkActive="router-link-active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Services</a>
        </li>
        <li class="nav-item nav-item2">
          <a class="nav-link nav-link2" routerLink="/portfolio" routerLinkActive="router-link-active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Portfolio</a>
        </li>
        <li class="nav-item nav-item2">
          <a class="nav-link nav-link2" routerLink="/meetthedesigner" routerLinkActive="router-link-active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Meet The Designer</a>
        </li>
        <li class="nav-item nav-item2">
          <a class="nav-link nav-link2" routerLink="/testimonials" routerLinkActive="router-link-active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Testimonials</a>
        </li>
        <li class="nav-item nav-item2">
          <a class="nav-link nav-link2" routerLink="/contactus" routerLinkActive="router-link-active"
            data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact Us</a>
        </li>
      </ul>
  
      
    </div> -->

  
    <!-- <img src="../../../assets/images/darklogo.png" class="navbar-logo"> -->
    <!-- <img src="../../../assets/images/Logo3.png" class="navbar-logo"> -->
    <!-- <img src="../../../assets/images/logo1.png" class="navbar-logo"> -->
  
  
  
 
  </nav>
  <div style="margin-top: 100px">
    
</div>
  <div class="routerOutletMargin">
    <router-outlet></router-outlet>
  </div>
  <div>
  </div>