<div class="sign">
   
    <div class="login">
        <div class="divpanel1" routerLink="/home">
            <div style="height: 0;
            float: left;
           
            margin: 20px;
            position: absolute;
            cursor:pointer">
              <i class="pi pi-arrow-left" style="font-size: 35px; color: #606268;"></i>
            </div>
        </div>
        <div class="login-screen">
            
                    <h1>Register</h1>
              
            
            
            
            <img class="logo" src="assets\images\logo.png" alt="GCI Logo" routerLink="/home">
            <form  (ngSubmit)="register()" [formGroup]="signinForm">
                <div class="login-form">
                    <div class="group">
                        <input type="text" class="login-field" value="" [(ngModel)]="userlogin.Username" placeholder="Username" id="login-name"
                             formControlName="email" required>
                             <input type="text" class="login-field" value="" [(ngModel)]="userlogin.Role" placeholder="Role" id="login-name"
                             formControlName="email" required>
                        <!-- <mat-error
                            *ngIf="signinForm.controls.email.hasError('email') && !signinForm.controls.email.hasError('required')">
                            Wrong Email
                        </mat-error>
                        <mat-error *ngIf="signinForm.controls.email.hasError('required')">
                            <strong>Email is required</strong>
                        </mat-error> -->
                        <input type="password" class="login-field" value="" placeholder="Password" [(ngModel)]="userlogin.password" id="login-pass"
                        formControlName="password" required>
                        <!-- <mat-error *ngIf="signinForm.controls.password.hasError('required')">
                            <strong>
                                Password is required
                            </strong>
                        </mat-error> -->
                        <!-- <mat-error *ngIf="signinForm.controls.password.hasError('error_key')">
                            Wrong email or password
                        </mat-error> -->
                    </div>
                    <button class="btn btn-primary btn-large btn-block"  type="submit">SUBMIT</button>
                    
                    <!-- <a  class="btn btn-primary btn-large btn-block"type="submit">SUBMIT</a> -->
                </div>
                
            </form>
            <p>Already have an Account ? <a href="/login">Login</a></p> 

        </div>
    </div>
</div>